*{
    text-align: center;
}
#changeBtn{
    background-color: aqua;
}
#changeBtn1{
    background-color: aqua;
}
#HideBtn{
    background-color: aqua;
}
#showBtn{
    background-color: aqua;
}

#addBtn{
    background-color: aqua;
}